[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/LeaveIt"]
	path = themes/LeaveIt
	url = https://github.com/mapaiva/LeaveIt.git
