@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700;900&display=swap");

@media screen and (min-width: 60em) {
  .cover {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .bg-black-60 {
    height: 100vh;
  }

  .tc-l.pv4.pv6-l.ph3.ph4-ns {
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }
}

.sans-serif {
  font-family: Poppins, sans-serif;
}

.lh-title {
  font-weight: bold;
  font-size: 60px;
}

.serif {
  font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif;
}

.athelas {
  font-family: Poppins, sans-serif;
}
